.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-button {
  height: 200px;
  width: 300px;
  font-size: xx-large;
}

.App-picture{
  width: 500px;
  height: 300px;
}

.div-note{
  width: 280px;
  height: 100px;
  padding: 5px;
  margin: 3px;
  border: solid 3px green;
  border-radius: 5px;
}

.div-list{
  width: 300px;
  padding: 5px;
  border: solid 1px blue;
  border-radius: 5px;
  margin: 0 auto;
}

.App-left{
  float: left;
}

.App-right{
  float: right;
}

.App-content{
  width: 60%;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}